/dev
/projects/kpi/kpi-dashboard.html
/projects/kpi/index_v07.html
/projects/kpi/index_v06.html
/projects/kpi/index_v05.html
/projects/kpi/index_v04.html
/projects/kpi/index_v03.html
/projects/kpi/index_v01.html
/projects/presentations
/projects/kpi/LLM.md